// bower:scss
// endbower

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400);

@font-face {
  font-family: "Entypo Social";
  src: url("entypo_social/entypo-social.eot");
  src: local("☺"),
  url("entypo_social/entypo-social.woff") format("woff"),
  url("entypo_social/entypo-social.otf") format("opentype"),
  url("entypo_social/entypo-social.svg#filename") format("svg");
}

@font-face {
  font-family: "Entypo";
  src: url("entypo/entypo.eot");
  src: local("☺"),
  url("entypo/entypo.woff") format("woff"),
  url("entypo/entypo.otf") format("opentype"),
  url("entypo/entypo.svg#filename") format("svg");
}

span.icon {
  font-family: "Entypo Social", "Entypo";
  font-style: normal;
  display: inline-block;
  margin-right: 5px;
  font-size: 3em;
  font-weight: 100;
  line-height: 1px;
  top: 6px;
  position: relative;

  &.icon-google:before { content: "\F30F"}
  &.icon-github:before { content: "\F300"}
  &.icon-collection:before { content: "\E736"}
  &.icon-user:before { content: "\1F464"}
  &.icon-exit:before { content: "\E741"}
  &.icon-thunder-cloud:before { content: "\26C8"}
  &.icon-thumbs-up:before { content: "\1F44D"}
  &.icon-rocket:before { content: "\1F680"}
  &.icon-heart:before { content: "\2661"}
  &.icon-chat:before { content: "\E720"}
  &.icon-download:before { content: "\1F4E5"}
  &.icon-attach:before { content: "\1F4CE"}
  &.icon-bookmark:before { content: "\1F516"}
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 800;
}
h2, h3, h4 {
  font-weight: 700;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 20px 40px;
}

.wallpaper-inititalized {
  .buttons .btn-default {
    border-color: white;
    border-width: 2px;
    color: white;
    background-color: transparent;

    &:active, &:hover {
      background: white;
      color: #333;
    }
  }

  .header {
    position: absolute;
  }
}

/* Custom page header */
.header {
  position: relative;
  width: 97%;
  z-index: 1;

  .logo {
    float: left;
    width: 135px;
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .buttons {
    float: right;
  }
}

.btn-default {
  border-color: #333;

  &:active, &:hover {
    border-color: #333;
    background: #333;
    color: #FFF;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 35px;
  margin-bottom: 70px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container {
  padding-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1010px;

    div#main_background {
      min-height: 500px;

      div.background {
        padding: 35px 0 15px 0;
        width: 700px;
        margin: auto;

        img { width: 100%; }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .container {
    width: 96%;

    div#main_background {

      div.background {
        padding: 35px 0 15px 0;
        width: 700px;
        margin: auto;

        img { width: 100%; }
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;

    div#main_background {
      min-height: 300px;

      div.background {
        padding: 35px 0 15px 0;
        width: 280px;
        margin: auto;

        img { width: 100%; }
      }

    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-github, .btn-google {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 300px;
  margin: 10px auto;
}

.btn-signup {
  background-color: transparent;
  border-color: #fa492b;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;

  &:hover, &:focus {
    background-color: #e14126;
    border-color: #e14126;
  }
  &:active {
    background-color: darkred;
    border-color: darkred;
  }
}

.main {
  #main_background {
    height: 700px;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 242px;
    background-color: #444;
    z-index: 0;

    .wallpaper, .wallpaper-container {
      z-index: -1;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }
  }
  .title {
    color: white;
    margin-bottom: 30px;
    text-align: center;

    h1 {
      font-weight: 400;
      line-height: 64px;
      font-size: 51px;
    }

    h3 {
      color: white;
      max-width: 600px;
      margin: auto;
      text-align: center;
      margin-top: 30px;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      word-spacing: 1px;
      letter-spacing: 1px;
    }
  }

  .btn-signup {
    margin: auto;
    display: block;
    box-shadow: 0 1px 0 darkred;
    &:hover {
    }
    &:active {
      box-shadow: none;
    }
  }

  section {
    margin-bottom: 80px;

    .clear {
      clear: both;
    }

    span.icon.large {
      position: absolute;
      font-size: 31em;
      top: 110px;
    }

    h2 {
      margin-bottom: 35px;
    }

    &.what-is {
      margin-top: 100px;
      color: blueviolet;
    }

    &.it-it-for-me {
      color: darkorange;
    }

    &.how-it-works {
      li {
        margin-bottom: 20px;
        strong {
          font-size: 1.3em;
        }
      }
    }

    &.works-great {
      .platforms {
        width: 80%;
        margin: auto;

        img {
          width: 100%;
        }
      }
    }

    p, ul {
      font-size: 1.3em;
      line-height: 1.7em;
      font-weight: 200;
    }
  }
}

pre {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  border: none;

  background: #f3f5f7;
  padding: 0 25px;
  margin: 15px 0;
}

.home {
  .user_data, .user_collections {
    margin-bottom: 50px;
    clear: both;
  }
  .user_data {
    img {
      margin: 35px auto;
      border: 3px solid lightblue;
    }
  }

  .announcement {
    color: lightslategray;
    font-style: italic;
  }

  .get-started {
    clear: both;
  }
  ul.simple_list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;
    li {
      height: 30px;

      label {
        width: 100px;
      }
    }
  }
  .welcome {
    font-weight: bold;
  }
}

.monospace {
  font-family: monospace;
}

.signup-page {
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }
}

.language {
  display: inline-block;
  border-bottom: 1 dashed red;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

body textarea, body input, body button { outline: 0 !important; }
body button:focus {
  outline-color: transparent;
  outline-style: none;
}

#mc_embed_signup {
  label {
    font-size: 30px;
    font-weight: 500;
  }

  .button {
    background-color: #8fc857;
    &:hover, &:focus, &:active {
      background-color: #5c9425;
    }
  }

  form {
    padding-left: 0;
  }

  input.email {
    width: 100%;
  }
}
