// bower:scss
// endbower

@font-face {
  font-family: "Entypo Social";
  src: url("entypo_social/entypo-social.eot");
  src: local("☺"),
  url("entypo_social/entypo-social.woff") format("woff"),
  url("entypo_social/entypo-social.otf") format("opentype"),
  url("entypo_social/entypo-social.svg#filename") format("svg");
}

span.icon {
  font-family: "Entypo Social";
  font-style: normal;
  display: inline-block;
  margin-right: 5px;

  &.icon-github::before { content: "\F300"}
  &:before {
    content: U+F300;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  position: relative;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    button {
      margin-left: 10px;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 35px;
  margin-bottom: 70px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.btn-github, .btn-google {
  font-size: 14px;
  font-weight: bold;
}

.btn-signup {
  background-color: #fa492b;
  border-color: #fa492b;
  &:hover, &:focus {
    background-color: #e14126;
    border-color: #e14126;
  }
  &:active {
    background-color: darkred;
    border-color: darkred;
  }
}

.main {
  .title {
    margin-bottom: 30px;
    text-align: center;

    h1 {
      font-weight: bold;
      letter-spacing: -2px;
      line-height: 46px;
    }

    h3 {
      color: #666;
      max-width: 600px;
      margin: auto;
      text-align: center;
      margin-top: 30px;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      word-spacing: 1px;
    }
  }

  .btn-signup {
    margin: auto;
    display: block;
    box-shadow: 0px 3px 0px darkred;
    &:hover {
    }
    &:active {
      box-shadow: none;
    }
  }

  section {
    margin-bottom: 50px;

    &.what-is {
      margin-top: 100px;
    }

    p, ul {
      font-size: 1.3em;
      line-height: 1.7em;
      font-weight: 200;
    }
  }
}

pre {
  padding: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  .hljs {
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 4px;
  }
}

.home {
  ul {
    list-style: none;
    li {
      height: 30px;

      label {
        width: 100px;
      }
    }
  }
  .welcome {
    font-weight: bold;
  }
}

.monospace {
  font-family: monospace;
}

.signup-page {
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }
}

.language {
  display: inline-block;
  border-bottom: 1 dashed red;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

body textarea, body input, body button { outline: 0 !important; }
body button:focus {
  outline-color: transparent;
  outline-style: none;
}
