<div class="main" ng-controller="MainCtrl as mainCtrl">
  <div class="title">
    <h1>The platform to store your JSON objects.<br>Works great with <span class="language"></span></h1>
    <h3>OpenWS makes you develop web applications faster, no server-side knowledge required. Proudly built by developers for developers.</h3>
  </div>

  <button type="submit" class="btn btn-success btn-lg btn-signup" ng-click="mainCtrl.goSignup()">
    Get started now - it's free!
  </button>

  <section class="what-is">
    <h2>What is OpenWS.io</h2>
    <p>---</p>
  </section>

  <section class="how-it-works">
    <h2>How to start in 6 minutes</h2>
    <p>Follow the steps to use the API with AngularJS.</p>
    <p>#1. Saving a JSON object</p>
    <pre>
      ...
      var = taskJSON = {
        name: "My first task",
        completed: false
      };

      $http.post("https://openws.herokuapp.com/my_tasks", taskJSON)
        .success(function() {
          $log.debug("Task saved successfuly");
        });
      ...
    </pre>

    <p>#2. Retrieving all JSON objects</p>
    <pre>
      ...
      $http.get("https://openws.herokuapp.com/my_tasks")
        .success(function() {
          $log.debug("Task saved successfuly");
        });
      ...
    </pre>

    OpenWS API supports POST, PUT, GET and DELETE http methods. Check examples on how to use them here.
  </section>
</div>
<script>
  $(".language").typed({
    strings: ["AngularJS", "EmberJS", "Mobile Apps", "NodeJS"],
    typeSpeed: 100,
    backSpeed: 30,
    backDelay: 1200,
    startDelay: 1200,
    loop: true
  });
</script>
