<div class="main" ng-controller="MainCtrl as mainCtrl">
  <div class="title">
    <h1>The platform to store your JSON objects.<br>Works great with <span class="language"></span></h1>
    <h3>OpenWS makes you <span>develop web applications faster</span>, no server-side knowledge required. Proudly built by developers for developers.</h3>
  </div>

  <button type="submit" class="btn btn-success btn-lg btn-signup" ng-click="mainCtrl.goSignup()">
    Get started now - it's free!
  </button>

  <section class="what-is">
    <h2>What's OpenWS</h2>
    <p>OpenWS makes <strong>web development faster</strong> by allowing webdevs to store their JSON objects into our platform.
      It means you don't need to worry about creating the server-side mechanism to make the hard work of saving,
      retrieving, searching, updating and deleting your data, we've done the hard work for you.</p>

    <p>Our API supports POST, PUT, GET and DELETE. It means you will be allowed to save your data,
      update it, retrieve it and delete it.</p>
  </section>

  <section class="it-it-for-me">
    <h2>Is OpenWS for me?</h2>
    <p>
      OpenWS is a great fit for your project if:
      <ul>
        <li>You're a web developer</li>
        <li>Your project needs to store data</li>
        <li>You have no knowledge of server-side development (if you do, that's fine)</li>
        <li>You want to prototype and develop your front-end quickly</li>
      </ul>
    </p>
  </section>

  <section class="how-it-works">
    <h2>How to start in 6 minutes</h2>
    <p>Follow the steps to use the API with AngularJS.</p>
    <p>#1. Create an account for free</p>
    <p>You will receive an API KEY which will be used in the next step.</p>

    <p>#2. Saving a JSON object</p>
    <pre>
      <code class="js">
  ...
  var = taskJSON = {
    name: "My first task",
    completed: false
  };

  $http.post("https://openws.herokuapp.com/my_tasks?apiKey=YOUR_API_KEY", taskJSON)
    .success(function() {
      $log.debug("Task saved successfuly");
    });
  ...
      </code>
    </pre>

    <p>#3. Retrieving all JSON objects</p>
    <pre>
      <code class="js">
  ...
  $http.get("https://openws.herokuapp.com/my_tasks?apiKey=YOUR_API_KEY")
    .success(function() {
      $log.debug("Task saved successfuly");
    });
  ...
      </code>
    </pre>

    OpenWS API supports POST, PUT, GET and DELETE http methods. Check examples on how to use them here.
  </section>

  <section>
    <h2>More about us</h2>
    <p>OpenWS is new, it means there are a lot of <strong>improvements</strong> happening right now.
      If you have suggestions to improve this service or want to help spread the word, please do
      contact me directly via twitter <a href="http://twitter.com/roshiro" target="_blank">@roshiro</a>.</p>
  </section>

  <section>
    <h2>Be the first to get News and Updates</h2>
    <p></p>
  </section>
</div>
<script>
  $(".language").typed({
    strings: ["AngularJS", "EmberJS", "Mobile Apps", "NodeJS"],
    typeSpeed: 100,
    backSpeed: 30,
    backDelay: 1200,
    startDelay: 1200,
    loop: true
  });

  hljs.initHighlightingOnLoad();
</script>
