<h2>Sign Up</h2>

<form name="newUserForm" role="form"
      ng-controller="SignupCtrl as signupCtrl"
      ng-submit="newUserForm.$valid && signupCtrl.validPassword(signupCtrl.user) && signupCtrl.signup(signupCtrl.user)" novalidate>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" ng-model="signupCtrl.user.email" class="form-control" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" ng-model="signupCtrl.user.password" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input type="password" ng-model="signupCtrl.user.confirmPassword" name="confirm-password" class="form-control" required>
  </div>
  <div>form is {{ newUserForm.$valid && signupCtrl.validPassword(signupCtrl.user) }}</div>
  <button type="submit" class="btn btn-default">
    <span ng-show="newUserForm.$valid && signupCtrl.validPassword(signupCtrl.user)" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Sign Up for OpenWS
  </button>
  <ul ng-repeat="user in signupCtrl.users">
    <li>{{user.email}}</li>
  </ul>
</form>
