<div class="signup-page container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2><span class="icon icon-ticket"></span> Sign up for OpenWS</h2>
      <p class="info">We are ready to create a brand new account for you!<br>
        Signing up using either GitHub or Google account is safe, we won't
      have access to your password.</p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <button ua-oauth-link="github" class="btn btn-success btn-lg btn-github"><span class="icon icon-github"></span> SIGN UP WITH GITHUB</button>
  <button ua-oauth-link="google" class="btn btn-success btn-lg btn-google"><span class="icon icon-google"></span> SIGN UP WITH GOOGLE</button>

  <div class="note">
    You can revoke our access to your GitHub or Google account at any time.<br>
    We'll never share any personal information.
  </div>
</div>
